[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
python-telegram-bot = "~=20.2"
flake8 = "~=6.0.0"
black = "~=23.3.0"
isort = "~=5.12.0"
flake8-variables-names = "*"
gspread = "6.0.2"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
